<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/reservation-annulation">Système de Réservation</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin">Ajouter Session</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/admin-controleur">Control des reseravtaion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/reservation">Ajouter/Annuler reservation</a>
      </li>
      <li class="nav-item ">
        <button class="btn btn-outline-info " (click)="logout()">Logout</button>
      </li>
    </ul>
  </div>
</nav>
<div class="container mt-4">
</div>
